<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<configuration>
<!--    &lt;!&ndash;设置日志&ndash;&gt;-->
<!--    <settings>-->
<!--        <setting name="logImpl" value="STDOUT_LOGGING"/>-->
<!--    </settings>-->


    <typeAliases>
        <package name="com.cdw.domain"/>
    </typeAliases>


    <!--指定其他mapper文件的位置：
        找到其他文件的sql语句
    -->
    <mappers>
        <!--resource属性指明路径,路径从target/classes开启
        一个mapper resource指定一个mapper文件
        -->
        <!--<mapper resource="com/cdw/dao/StudentDao.xml"/>-->
        <package name="com.cdw.dao"/>
    </mappers>
</configuration>